@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&family=Sevillana&display=swap');

:root {
    --lightBlue: #34B0BE;
    --pink: #FF4F6F;
    --lightGray: #ADADAD ;
    --whiteGray: #E5E5E5;
    --white: #FFFFFF;
    --black: #000000;
    --nombre: #1746A2;
    --bg: 
}

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-margin-top: 18px;
}

.ff-sevillana {
    font-family: 'Sevillana', cursive;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: block
}

.title_p {
    font-size: 35px;
    font-weight: bold;
    color: var(--lightBlue);
    flex-direction: column;
    gap: 1px;
}

.title_p:hover {
    transform: rotate(3deg);
    transition: 0.3s;
    opacity: 0.9;
}

.margen {
    margin: 0 auto;
    margin-top: 70px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    max-width: 100vw;
    min-width: 300px;
}
.container {
    flex-direction: column;
    gap: 1rem;
    background-color: var(--whiteGray);
    overflow: hidden;
}


.header  {
    width: 100vw;
    display: grid;
    grid-template-columns:  1fr 150px 100px 50px 1fr;
    grid-template-rows: 30px;

    margin-top: 10px;
    position: fixed;
    top: 10px;
    z-index: 1000;
}
.header div:nth-child(1) {
    grid-column: 4/5;
    cursor: pointer;
}
.header div:nth-child(1):hover {
    opacity: 0.8    ;
    transform: scale(1.1);
}


#decor__menu {
    margin: 20px -60px -60px -60px;
    margin-left: -250px;
    padding: -50px;
}
.decor__menu:hover {
    transform: rotate(10deg);
}

.navbar {
    height: 30px;
    background-color:var(--lightBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    opacity: 0.9;

    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;

    margin-top: -200%;
    z-index: 10000;
    transition: margin-top 0.25s;
}

.logo a {
    text-decoration: none;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-shadow: -4px 1px 5px var(--nombre);
    color: var(--black);
    cursor: pointer;
}

.menu li > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-shadow: -4px 1px 6px var(--nombre);
    color: var(--whiteGray);
    cursor: pointer;
}

.menu li:hover {
    transform: scale(1.5);
    text-shadow: -4px 1px 5px var(--nombre);
    transition: transform 0.5s;
}

.menu {
    background-color: var(--lightBlue);
    position: fixed;
    flex-direction: column;
    justify-content:center;
    gap: 50px;

    width: 40%;
    min-height: calc(100vh - 30px);
    top: 29px;
    right:0;
    list-style: none;
    opacity: 0.9;

    margin-right: -200%;
    transition: margin-right 0.5s;
}
.menu_show {
    margin-top:0;
    margin-right: 0;
}
.menu_show-hidden {
    display: none;
}


.perfil {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: -2.5rem;
    overflow: hidden;
    padding: 2rem;
}
.img__perfil {
    width: 80%;
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
    position: relative;
}
.img__perfil__bg {
    display: block;
    margin: -25px;
    width: 390px;
}
.img__perfil__personal {
    position: absolute;
    height: 545px;
    width: 410px;
    margin: 0 auto;
    left: -60px;
    top: -48px;
}
.presentacion__perfil {
    flex-direction: column;
    margin: -50px 0 15px;
}
.presentacion__perfil h4 {
    font-size: 1.5rem;
    text-shadow: -2px 1px 4px var(--lightGray);
    color: var(--nombre);
    margin-bottom: 8px;
}
.presentacion__perfil h2 {
    font-size: 1.8rem;
    font-weight: 600;
}
.redes__perfil div {
    
    border: 3px solid var(--lightBlue);
    border-radius: 100%;
    padding: 5px;
    margin: 10px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 46%, rgba(52,176,190,1) 100%);
}
.redes__perfil img {
    height: 50px;
    width: 50px;
    padding: 3px;    
}
.hr_redes {
    width: 300px;
    border: 1px medium gray
}


.contactame__btn {
    background-color: var(--nombre);
    width: 250px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}
.contactame__btn a {
    color: var(--white);
    text-decoration: none;
    font-size: 25px;
}


.habilidades {
    margin: 0 auto;
    padding: 2rem;
    flex-direction: column;
}

.habilidades > p {
    margin-bottom: 2.5rem;
}
.habilidades__all {
    flex-wrap: wrap;
    gap: 1rem;
}
.habilidades__all-child section > section {
    width: 150px;
    height: 90px;
    margin-top: -1px;
    background-color: var(--white);
    color: var(--nombre);
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 5px;
}
.habilidades__all-child > p {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 0px 1px 1px var(--nombre);
    padding: 5px;
}
.habilidades__all-child > p:hover {
    transform: rotate(10deg);
    transform: scale(1.08);
    transition: 0.2s;
    text-shadow: none;
}
.habilidades__all-child-hr {
    border-top: 7px solid var(--lightBlue);
    border-radius: 7px;
}
.hr1 {
    width: 90%;
}
.hr2 {
    width: 80%;
}
.hr3 {
    width: 80%;
}
.hr4 {
    width: 75%;
}
.hr5 {
    width: 65%;
}
.hr6 {
    width: 65%;
}


.acerca_de_mi {
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: 2rem;
    font-size: 18px;
}
.acerca_de_mi > p {
    margin-bottom: 0.5rem;
}
.acerca_de_mi article > p {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
}


.servicios {
    flex-direction: column;
    padding: 2rem;
    margin: 0 auto;
}
.servicio__servicios {
    flex-direction: column;
    gap: 1rem; 
}
.servicio__servicios > img {
    width: 150px;
    margin-top: 30px;
}
.servicio__servicios > img:hover {
    transform: rotate(10deg);
    transform: scale(1.08);
    transition: 0.5s;
}
.servicio__servicios > h4 {
    font-size: 22px;
}
.servicio__servicios > p {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: -10px;
}


.portafolio {
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 3rem;
}
.portafolio > section {
    height: 300px;
    width: 300px;
}
.portafolio > p {
    margin-bottom: 0.4rem;
}
.portafolio section a > img {
    width: 300px;
    height: 80%;
    padding-bottom: 10px;
    border-radius: 20px;
}
.portafolio section > p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.portafolio__flecas {
    margin-top: -85px;
    margin-bottom: -3rem;
    background-color: transparent;
    height: 1;
}
.portafolio__flecas > img {
    width: 130px;
}
.next {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: -10px;
    color: var(--nombre);
    margin-left: -20px;
    margin-top: -15px;
}


.contacto {
    margin: 0 auto;
    padding: 2rem;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    margin-top:10px;
}
.contacto section {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.contacto section > img {
    width: 200px;
    height: 200px;
}
.p__contacto {
    font-size: 25px;
    font-weight: bold;
    color: var(--nombre);
}
.p__contacto ~ p {
    font-size: 25px;
}


.email {
    margin-bottom: 130px;
}

.footer {
    padding: 2rem;
    background: rgba(2,0,36,1);
    text-align: right;
    font-size: 20px;
    color: var(--whiteGray);
}



@media (min-width: 700px) {
    .navbar {
        height: 50px;
        padding: 0 1rem;
        z-index: 10000;
        margin-top:0;
        margin-right: 0;
        background: linear-gradient(90deg, rgba(52,176,190,1) 0%, rgba(2,0,36,1) 30%);
    }
    .logo a {
        font-size: 20px;
    }
    .menu {
        
        position: relative;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        gap: 0.7rem;
        list-style: none;

        width: 75%;
        min-height: 0;
        top: 0;
        margin-top:0;
        margin-right: 0;
        background: transparent;
    }
    .menu li > a {
        text-decoration: none;
        font-size: 15px;
        text-shadow: -2px 1px 2px var(--nombre);
    }
    .menu li:hover {
        transform: scale(1.09);
        transition: transform 0.5s;
    }
    .header {
        display: none;
    }
    .decor__menu {
        display: none;
    }


    .perfil {
        margin-top: 5px;
        width: 100vw;
        background: linear-gradient(90deg, rgba(52,176,190,1) 0%, rgba(2,0,36,1) 30%);
    }
    .img__perfil {
        width: 90%;
        margin-bottom: 30px;
        margin-top: 20px;
        display: flex;
        position: relative;
    }
    .img__perfil__bg {
        display: block;
        margin: 20px;
        width: 780px;
        margin-left: 150px ;
        padding-top: 25px;
    }
    .img__perfil__personal {
        position: absolute;
        height: 715px;
        width: 520px;
        margin: 0 auto;
        left: 120px;
        top: -81px;
    }
    .presentacion__perfil h4 {
        font-size: 3rem;
        text-shadow: -1px 2px 4px var(--black);
        color: var(--lightBlue);
    }
    .presentacion__perfil h2 {
        text-shadow: -2px 5px 2px rgba(2,0,36,1);
        color: var(--lightGray);
    }


    .habilidades {
        padding: 4rem;
    }
    

    .acerca_de_mi {
        padding: 4rem;
    }
    .acerca_de_mi article > p {
        font-size: 25px;
    }


    .swiper-slide a img {
        margin: 0 auto;
    }


    .portafolio {
        padding: 5rem;
    }
    .portafolio__flecas {
        margin-top: -135px;
        margin-bottom: -3rem;
        background-color: transparent;
        height: 1;
    }


    .servicios {
        padding: 4rem;
    }


    .contacto {
        background: linear-gradient(0deg, rgba(2,0,36,1) 46%, rgba(52,176,190,1) 100%);
        color: var(--lightBlue);
        width: 95%;
        border-radius: 100px;
        
        margin-top:100px;
    }
    .contacto section {
        display: flex;
        flex-direction: row;
        
    }
    .contacto__hijos > section {
        flex-direction: column;
        padding: 0 3rem 2rem;
        margin: 0 auto;
    }
    .email {
        margin-bottom: 20px;
    }
    
}

@media (min-width: 1000px) {
    
    .menu li {
        padding: 1rem;
        font-size: 1.4rem;
    }
    .menu li a{
        font-size: 1rem;
    }
    .menu li:hover {
        transform: scale(1.5);
        transition: transform 0.5s;
    }

    .perfil{
        display: grid;
        grid-template-columns: 250px 200px 100px 100px 230px;
        grid-template-rows: 1fr 90px 50px 50px 60px;
        margin-bottom: 80px;
    }
    .img__perfil__bg {
        display: none
    }
    .hr_redes {
        display: none;
    }
    .img__perfil {
        grid-column: 1/2;
        grid-row: auto;
        margin: 33px -100px 0 100px;
        padding: 46px;
        position: static;
    }
    .presentacion__perfil {
        margin: 15px;
        grid-column: 2/6;
        grid-row: 2/3;
        margin-left: 50px;
    }
    .img__perfil__personal {
        left: -10px;
        top: -40px;
    }


    .contactame__btn {
        grid-column: 3/5;
        grid-row: 4/5;
        margin-top: -40px;
        margin-left: 15px;
    }
    .redes__perfil  {
        grid-column: 3/5;
        grid-row: 5/6;
        margin-left: 50px;
        margin-top: -20px;
    }
    .contacto {
        width: 85%;
        border-radius: 150px;
    }
}
